*, body, html {
    font-family: Arial, sans-serif; /* Mengatur jenis font umum untuk seluruh elemen, seperti teks dan paragraf */
    margin: 0; /* Menghilangkan margin (jarak) default di sekitar elemen */
    padding: 0; /* Menghilangkan padding (jarak dalam elemen) default di sekitar elemen */
}

body {
    background-color: #222; /* Mengatur warna latar belakang halaman */
}

.container {
    margin: 30px; /* Memberikan margin 50px di sekitar elemen dengan kelas "container" */
}

.navbar {
    background-color: #333;
    overflow: hidden;
    border-radius: 5px;
}

.navbar-left {
    display: flex;
    float: left;
}

.navbar-left a {
    display: block;
    color: white;
    text-align: center;
    padding: 20px 25px;
    text-decoration: none;
}

.navbar-left a:hover {
    background-color: #444;
}

.navbar-right {
    float: right;
}

.navbar-right a {
    display: block;
    color: white;
    text-align: center;
    padding: 20px 25px;
    text-decoration: none;
}

.navbar-right a:hover {
    background-color: #444;
}

.form-transaksi{
    margin: 20px 0;
    padding: 50px;
    background-color: #333;
}


.transaksi{
    display: grid;
    gap: 1px;
    grid-template-columns: 1fr 4fr; /* Membagi form menjadi dua kolom */
    margin-bottom: 10px;
}

.transaksi label{  
    margin: 25px 0;
    font-size: 20px;
    font-weight: bold;
    color: white;
}

.transaksi input{
    padding: 10px;
    margin: 20px 0;
    border-radius: 5px;
    height: 15px;
    width: 20%;
}

.transaksi textarea{
    padding: 10px;
    margin: 20px 0;
    border-radius: 5px;
    width: 20%;
    height: 20px;
}

.transaksi-radio{
    margin-top: -400px;
    margin-left: 700px;
    width: 300px;
    font-size: 20px;
    font-weight: bold;
    color: white;
}

.button-bayar{
    margin-top: 320px;
    margin-left: 700px;
}

.button-bayar button{
    border: 1px solid #000;
    background-color: white;
    color: #444;
    font-weight: bold;
    width: 20%;
    height: 35px;
    border-radius: 5px;
    cursor: pointer;
}

.button-bayar button:hover{
    transition: 0.3s ease-in;
    background-color: #3ac408;
    color: #444;
}

.bayar-transaksi{
    display: grid;
    gap: 1px;
    grid-template-columns: 1fr 4fr; /* Membagi form menjadi dua kolom */
    margin: 50px 20px;
}

.bayar-transaksi label{
    margin: 25px 0;
    font-size: 20px;
    font-weight: bold;
    color: white;
}

.bayar-transaksi input{
    padding: 10px;
    margin: 20px 0;
    border-radius: 5px;
    height: 15px;
    width: 20%;
}

.bayar-button{
    margin: -30px 450px;
}

.bayar-button button{
    border: 1px solid #000;
    background-color: white;
    color: #444;
    font-weight: bold;
    width: 20%;
    height: 35px;
    border-radius: 5px;
    cursor: pointer;
}

.bayar-button button:hover{
    transition: 0.3s ease-in;
    background-color: #3ac408;
    color: #444;
}

.akhir-transaksi{
    display: grid;
    gap: 1px;
    grid-template-columns: 1fr 4fr; /* Membagi form menjadi dua kolom */
    margin-left: 700px;
    margin-top: -100px;
}

.akhir-transaksi label{
    margin: 0 20px;
    font-size: 20px;
    font-weight: bold;
    color: white;
}

.akhir-transaksi input{
    margin: 0 20px;
    padding: 10px;
    border-radius: 5px;
    height: 15px;
    width: 20%;
}

.akhir-transaksi button{
    margin: 30px 275px;
    border: 1px solid #000;
    background-color: white;
    color: #444;
    font-weight: bold;
    width: 20%;
    height: 35px;
    border-radius: 5px;
    cursor: pointer;
}

.akhir-transaksi button:hover{
    transition: 0.3s ease-in;
    background-color: #3ac408;
    color: #444;
}


.footer{
    background-color: #333;
    border-radius: 5px;
    margin: 20px;
    padding: 15px;
}

.isi-footer{
    text-align: center;
    color: white;
    font-size: 10px;
}

.popup{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, .8);
    position: fixed;
    top: 0;
    left: 0;
    
    opacity: 0;
    visibility: hidden;
    transition: all .3s;
}

.pop-up{
    text-align: center;
    padding: 50px;
    margin-left: 30%;
    margin-top: 15%;
    width: 20%;
    height:20%;
    background-color: #444;
    transform: translate(-50%, -50%) scale(.25);
    color: white;
    border-radius: 5px;
    opacity: 0;

    transition: all .5s .1s;
}

.pop-up-text{
    font-size: 20px;
    font-weight: bold;
}

.pop-up-button button{
    color: #444;
    font-size: 20px;
    font-weight: bold;
    width: 150px;
    padding: 15px;
    border-radius: 5px;
    border: none;
}

.pop-up-button button:hover{
    transition: 0.3s ease-in;
    background-color: #3ac408;
    color: black;
}

#popup:target{
    opacity: 1;
    visibility: visible;
}

#popup:target .pop-up {
    opacity: 1;
    transform: translate(-50%, -50%) scale(1);
}

@media (max-width: 768px) {
    .transaksi label{  
        font-size: 15px;
        font-weight: bold;
        color: white;
    }.transaksi input{
        width: 100%;
    }.transaksi textarea{
        width: 100%;
    }.form-transaksi{
        flex-wrap: wrap;
    }.transaksi-radio{
        margin-left: 0;
        margin-top: 0;
        font-size: 17px;
    }.transaksi-radio input{
        margin-top: 20px;
    }.button-bayar{
        margin-top: 20px;
        margin-left: 70px;
    }.button-bayar button{
        width: 100%;
        height:50px;
    }.bayar-transaksi label{
        font-size: 15px;
        font-weight: bold;
        color: white;
    }.bayar-transaksi input{
        width: 100%;
    }.bayar-button{
        margin-top: -40px;
        margin-left: 150px;
        margin-right: 0;
        margin-bottom: 0;
    }.bayar-button button{
        width: 100%;
        height: 35px;
    }.akhir-transaksi{
        margin-left: 20px;
        margin-top: 20px;
    }.akhir-transaksi label{
        margin: 0;
        font-size: 15px;
    }.akhir-transaksi input{
        margin: 0;
        width: 90%;
    }.akhir-transaksi button{
        margin: 20px 20px;
        width: 90%;
        height: 40px;
    }.pop-up{
        text-align: center;
        padding: 50px;
        margin-left: 60%;
        margin-top: 50%;
        width: 50%;
        height:20%;
        background-color: #444;
        transform: translate(-50%, -50%) scale(.25);
        color: white;
        border-radius: 5px;
        opacity: 0;
    
        transition: all .5s .1s;
    }
    
}